<!DOCTYPE html>
<html lang="en">
<head>
    <title>Characters</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">         
</head>
<body>
    <label>Choose a character:
    <form action="/selectCharacters" method="POST">
        <select id="characterSelection" name="characterSelectionForm" >
            <% for(const character of characters) { %>
                <option value="<%=character.characterID%>"> <%= character.name %> </option>
            <% } %>
        </select>
        <button type = "submit">submit</button>
    </form>
    </label>
</body>

    